#mainWidget {
    background: deepskyblue;
    color: white;
    min-width: 250px;
    max-width: 1024px;
    padding: 10px;
}

#mainWidget h1 {
    margin: 0;
    padding: 0;
}

.formWidget {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}


.formWidget input {
    width: 90%;
    height: 50px;
    border: none;
}

.formWidget p {
    width: 40%;
    height: 52px;
}

.formWidget .formButton {
    width: 25%;
    height: 52px;
    background: orange;
    color: white;
    font-size: 20px;
    border: none;
}

.formWidget .inputWithIcon {
    width: 27%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formWidget .inputWithIcon button {
    width: 15px;
    height: 15px;
    position: relative;
    right: 30px;
    outline: none;
    border: none;
    background: url("calendar.svg") center;
}


.M900 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}


.M900 input {
    width: 90%;
    height: 50px;
    border: none;
}

.M900 p {
    width: 100%;
    height: 15px;
}

.M900 .formButton {
    width: calc(100% / 3 - 15px);
    height: 52px;
    background: orange;
    color: white;
    font-size: 20px;
    border: none;
}

.M900 .inputWithIcon {
    width: calc(100% / 3 - 15px);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.M900 .inputWithIcon input {
    width: 100%;
}

.M900 .inputWithIcon button {
    width: 15px;
    height: 15px;
    position: relative;
    right: 30px;
    outline: none;
    border: none;
    background: url("calendar.svg") center;
}


.M700 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: left;
    flex-wrap: wrap;
}


.M700 input {
    width: 90%;
    height: 50px;
    border: none;
}

.M700 p {
    width: 100%;
    height: auto;
    order: 1;
    margin: 0;
}

.M700 .formButton {
    width: calc(100% - 15px);
    height: 52px;
    background: orange;
    color: white;
    font-size: 20px;
    border: none;
}

.M700 .inputWithIcon {
    width: calc((100% - 15px) / 2);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.M700 .inputWithIcon button {
    width: 15px;
    height: 15px;
    position: relative;
    right: 30px;
    outline: none;
    border: none;
    background: url("calendar.svg") center;
}

.M700 .inputWithIcon input {
    width: 100%;
}














